TestDevExpress/AsolDX/XSD/DxDataFormat.Frm.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="DxDataFormat.Frm" targetNamespace="http://tempuri.org/DxDataFormat.Frm.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/DxDataFormat.Frm.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:documentation xml:lang="en">
            Part of Helios Nephrite, proprietary software, (c) Asseco Solutions, a. s.
            DxDataFormat template schema.
            All rights reserved.
        </xs:documentation>
    </xs:annotation>

    <!--    Struktura souboru, definujícího vzhled celého DataFormu    -->
    <xs:element name="template">
        <xs:complexType>
            <xs:sequence>
                <!--    V šabloně se mohou střídat libovolně elementy pageset a panel    -->
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="pageset" type="type_pageset" minOccurs="0" maxOccurs="unbounded" >
                        <xs:annotation>
                            <xs:documentation xml:lang="cs-cz">Jeden objekt s více záložkami (page)</xs:documentation>
                        </xs:annotation>
                    </xs:element>

                    <xs:element name="panel" type="type_panel" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs-cz">Jeden kontejner, obsahující prvky anebo další kontejnery</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
            </xs:sequence>

            <xs:attribute name="FormatVersion" type="enum_format_version" default="4">
                <xs:annotation><xs:documentation xml:lang="cs-cz">Formát tohoto souboru. Defaultní = 4</xs:documentation></xs:annotation>
            </xs:attribute>

            <xs:attribute name="MasterWidth" type="xs:int">
                <xs:annotation><xs:documentation xml:lang="cs-cz">Šířka oblasti DataFormu (Master) (tedy bez dynamických vztahů a dolních záložek)</xs:documentation></xs:annotation>
            </xs:attribute>

            <xs:attribute name="MasterHeight" type="xs:int">
                <xs:annotation><xs:documentation xml:lang="cs-cz">Výška oblasti DataFormu (Master) (tedy bez dynamických vztahů a dolních záložek)</xs:documentation></xs:annotation>
            </xs:attribute>

            <xs:attribute name="TotalWidth" type="xs:int">
                <xs:annotation><xs:documentation xml:lang="cs-cz">Celková šířka (tedy včetně dynamických vztahů a dolních záložek)</xs:documentation></xs:annotation>
            </xs:attribute>

            <xs:attribute name="TotalHeight" type="xs:int">
                <xs:annotation><xs:documentation xml:lang="cs-cz">Celková výška (tedy včetně dynamických vztahů a dolních záložek)</xs:documentation></xs:annotation>
            </xs:attribute>

            <xs:attribute name="AutoLabelPosition" type="enum_label_pos" >
                <xs:annotation><xs:documentation xml:lang="cs-cz">Automaticky generovat labely atributů a vztahů, jejich umístění. Defaultní = None</xs:documentation></xs:annotation>
            </xs:attribute>

            <xs:attribute name="DataSource" type="xs:string">
                <xs:annotation><xs:documentation xml:lang="cs-cz">Jméno souboru, z něhož bude načtena definice dat</xs:documentation></xs:annotation>
            </xs:attribute>

            <xs:attribute name="Messages" type="xs:string">
                <xs:annotation><xs:documentation xml:lang="cs-cz">Jméno souboru, z něhož budou čteny překlady popisků a tooltipů</xs:documentation></xs:annotation>
            </xs:attribute>
            
            <xs:attribute name="UseNorisClass" type="xs:int">
                <xs:annotation><xs:documentation xml:lang="cs-cz">Číslo třídy, pro kterou budou načteny popisky atributů a vztahů</xs:documentation></xs:annotation>
            </xs:attribute>

            <xs:attribute name="AddUda" type="enum_bool">
                <xs:annotation><xs:documentation xml:lang="cs-cz">Automaticky přidat záložku pro UDA atributy a vztahy. Nezadáno = True</xs:documentation></xs:annotation>
            </xs:attribute>

            <xs:attribute name="UdaLabelPosition" type="enum_label_pos">
                <xs:annotation><xs:documentation xml:lang="cs-cz">Umístění labelů pro automaticky generované UDA atributy a vztahy. Defaultní = Top</xs:documentation></xs:annotation>
            </xs:attribute>
            
        </xs:complexType>
    </xs:element>
    
    
    <!--    Definice kontejnerů   -->

    <!--    PageSet               -->
    <xs:complexType name="type_pageset">
        <xs:sequence>
            <xs:element name="page" type="type_page" minOccurs="0" maxOccurs="unbounded" >
                <xs:annotation>
                    <xs:documentation xml:lang="cs-cz">Jedna záložka v řadě záložek</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>

        <xs:attribute name="X" type="xs:int">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Souřadnice X prvku, ve Standardních pixelech (Zoom=100%)</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="Y" type="xs:int">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Souřadnice X prvku, ve Standardních pixelech (Zoom=100%)</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="Width" type="xs:int">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Šířka prvku, ve Standardních pixelech (Zoom=100%)</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="Height" type="xs:int">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Výška prvku, ve Standardních pixelech (Zoom=100%). Často je ignorována, pokud prvek má výšku danou přirozeně.</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="Bounds" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Souřadnice prvku v jednom políčku, v pořadí: X,Y,Width[,Height]. Alternativa hodnot X, Y, Width, Height.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!--    Page                  -->
    <xs:complexType name="type_page">
        <xs:complexContent>
            <xs:extension base="type_container">
                
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--    Panel                 -->
    <xs:complexType name="type_panel">
        <xs:complexContent>
            <xs:extension base="type_container">



                <xs:attribute name="NestedTemplate" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Název souboru, který obsahuje definici vnořené šablony</xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="X" type="xs:int">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Souřadnice X prvku, ve Standardních pixelech (Zoom=100%)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="Y" type="xs:int">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Souřadnice X prvku, ve Standardních pixelech (Zoom=100%)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="Width" type="xs:int">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Šířka prvku, ve Standardních pixelech (Zoom=100%)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="Height" type="xs:int">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Výška prvku, ve Standardních pixelech (Zoom=100%). Často je ignorována, pokud prvek má výšku danou přirozeně.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="Bounds" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Souřadnice prvku v jednom políčku, v pořadí: X,Y,Width[,Height]. Alternativa hodnot X, Y, Width, Height.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--    Container             -->
    <xs:complexType name="type_container">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="label" type="type_label" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Neinteraktivní textový popisek</xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="textbox" type="type_textbox" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Vstupní textové políčko</xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="textbox_button" type="type_textbox_button" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Vstupní textové políčko s buttony</xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="button" type="type_button" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Samostatné tlačítko</xs:documentation>
                    </xs:annotation>
                </xs:element>

                <xs:element name="combobox" type="type_combobox" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Rozbalovací nabídka typu ComboBox</xs:documentation>
                    </xs:annotation>
                </xs:element>

                
                <xs:element name="panel" type="type_panel" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Vnořený panel</xs:documentation>
                    </xs:annotation>
                </xs:element>

            </xs:choice>
        </xs:sequence>
        
        <xs:attribute name="Name" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Název odstavce / stránky. Jednoznačný v rámci DataFormu. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        
        <xs:attribute name="Invisible" type="xs:string" />

        <xs:attribute name="Title" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Pevný text prvku (text Labelu, Buttonu, Checkboxu, ...). Může obsahovat formátovací funkce fm(), fmr(), fmdr().</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="IconName" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Název ikony. Zobrazují ji pouze některé prvky.</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="ToolTipTitle" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Titulek v okně ToolTip</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="ToolTipText" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Text v okně ToolTip</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!--    Definice jednotlivých controlů     -->

    <!--    Label                              -->
    <xs:complexType name="type_label">
        <xs:complexContent>
            <xs:extension base="type_control">
                <xs:attribute name="LabelMask"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--    TextBox obyčejný                   -->
    <xs:complexType name="type_textbox">
        <xs:complexContent>
            <xs:extension base="type_control">
                <xs:attribute name="EditMask"/>
                <xs:attribute name="Required" type="enum_bool"/>
            </xs:extension>
        </xs:complexContent>        
    </xs:complexType>

    <xs:complexType name="type_combobox">
        <xs:complexContent>
            <xs:extension base="type_control">
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="comboItem" type="type_control">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs-cz">Explicitně zadaný prvek v nabídce ComboBoxu</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="EditStyle" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Název editačního stylu. Může být prázdné, pokud budou zadány prvky comboItem.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="type_textbox_button">
        <xs:complexContent>
            <xs:extension base="type_textbox">
                <xs:sequence>
                    <xs:choice minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="buttonRight" type="type_control">
                            <xs:annotation>
                                <xs:documentation xml:lang="cs-cz">Button zobrazený na pravé straně TextBoxu</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        
                        <xs:element name="buttonLeft" type="type_control">
                            <xs:annotation>
                                <xs:documentation xml:lang="cs-cz">Button zobrazený na levé straně TextBoxu</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>

                <xs:attribute name="ButtonsVisibility" type="enum_buttons_visibility">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Viditelnost buttonů v textboxu v závislosti na aktivitě TextBoxu</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--    Button obyčejný                    -->
    <xs:complexType name="type_button">
        <xs:complexContent>
            <xs:extension base="type_control">
                <xs:attribute name="Action" type="type_button_action">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Akce, kterou button provede</xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="ButtonFunction" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Jméno funkce, kterou button vyvolá</xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="HotKey" type="xs:string">
                    <xs:annotation>
                        <xs:documentation xml:lang="cs-cz">Klávesa odpovídající buttonu, např. F6, Alt+Q, Shift+F3, atd...</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--    Control - bázová třída             -->
    <xs:complexType name="type_control">
        <xs:attribute name="Name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Identifikátor prvku, jméno sloupce v datech. Musí být jednoznačné v rámci DataFormu. Pro pomocné prvky (TextBoxButtony, ListItemy) musí být jednoznačné v rámci Owner prvku.</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="State" type="type_control_state">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Stav prvku (viditelnost, editovatelnost)</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="Text" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Pevný text prvku (text Labelu, Buttonu, Checkboxu, ...). Může obsahovat formátovací funkce fm(), fmr(), fmdr().</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="Alignment" type="enum_content_alignment">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Zarovnání obsahu (textu) v definovaném prostoru prvku</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        
        <xs:attribute name="IconName" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Název ikony. Zobrazují ji pouze některé prvky.</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="ToolTipTitle" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Titulek v okně ToolTip</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="ToolTipText" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Text v okně ToolTip</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="Invisible" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Výraz, při jehož splnění bude prvek neviditelný. Například: True (=neviditelný), pocet = 0 (pokud pocet bude 0, prvek bude neviditelný), ...</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="X" type="xs:int">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Souřadnice X prvku, ve Standardních pixelech (Zoom=100%)</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="Y" type="xs:int">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Souřadnice X prvku, ve Standardních pixelech (Zoom=100%)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        
        <xs:attribute name="Width" type="xs:int">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Šířka prvku, ve Standardních pixelech (Zoom=100%)</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="Height" type="xs:int">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Výška prvku, ve Standardních pixelech (Zoom=100%). Často je ignorována, pokud prvek má výšku danou přirozeně.</xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="Bounds" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">Souřadnice prvku v jednom políčku, v pořadí: X,Y,Width[,Height]. Alternativa hodnot X, Y, Width, Height.</xs:documentation>
            </xs:annotation>
        </xs:attribute>

    </xs:complexType>



    <!--    Definice enumů     -->
    <xs:simpleType name="enum_format_version">
        <xs:restriction base="xs:string">
            <xs:enumeration value="4" >
                <xs:annotation>
                    <xs:documentation xml:lang="cs-cz">DataForm deklarovaný pro Nephrite</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="3" >
                <xs:annotation>
                    <xs:documentation xml:lang="cs-cz">DataForm deklarovaný pro Green, pokročilá verze. Nepoužívá se v této šabloně.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="2" >
                <xs:annotation>
                    <xs:documentation xml:lang="cs-cz">DataForm deklarovaný pro Green, střední verze. Nepoužívá se v této šabloně.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="1" >
                <xs:annotation>
                    <xs:documentation xml:lang="cs-cz">DataForm deklarovaný pro Green, základní verze. Nepoužívá se v této šabloně.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="enum_label_pos">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Left" />
            <xs:enumeration value="Up" />
            <xs:enumeration value="None" />
            <xs:enumeration value="Right" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="enum_content_alignment">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TopLeft" />
            <xs:enumeration value="TopCenter" />
            <xs:enumeration value="TopRight" />
            <xs:enumeration value="MiddleLeft" />
            <xs:enumeration value="MiddleCenter" />
            <xs:enumeration value="MiddleRight" />
            <xs:enumeration value="BottomLeft" />
            <xs:enumeration value="BottomCenter" />
            <xs:enumeration value="BottomRight" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="enum_buttons_visibility">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Default">
                <xs:annotation>
                    <xs:documentation xml:lang="cs-cz">Defaultní = jen v aktivním prvku (Focus nebo MouseOn), vyjma stavu Disabled</xs:documentation>
                </xs:annotation>
            </xs:enumeration>

            <xs:enumeration value="OnlyActive">
                <xs:annotation>
                    <xs:documentation xml:lang="cs-cz">Jen v aktivním prvku (Focus nebo MouseOn), vyjma stavu Disabled</xs:documentation>
                </xs:annotation>
            </xs:enumeration>

            <xs:enumeration value="VisibleAlways">
                <xs:annotation>
                    <xs:documentation xml:lang="cs-cz">Viditelné vždy</xs:documentation>
                </xs:annotation>
            </xs:enumeration>

            <xs:enumeration value="Invisible">
                <xs:annotation>
                    <xs:documentation xml:lang="cs-cz">Neviditelné</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="type_button_action">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Click">
                <xs:annotation>
                    <xs:documentation xml:lang="cs-cz">Odešle kliknutí na server</xs:documentation>
                </xs:annotation>
            </xs:enumeration>

            <xs:enumeration value="Update">
                <xs:annotation>
                    <xs:documentation xml:lang="cs-cz">Odešle Update dat na server</xs:documentation>
                </xs:annotation>
            </xs:enumeration>

            <xs:enumeration value="ClickCheckRequired">
                <xs:annotation>
                    <xs:documentation xml:lang="cs-cz">Ověří vyplněnost Required polí</xs:documentation>
                </xs:annotation>
            </xs:enumeration>

            <xs:enumeration value="RunFunction">
                <xs:annotation>
                    <xs:documentation xml:lang="cs-cz">Spustí funkci, název funkce je v atributu ButtonFunction</xs:documentation>
                </xs:annotation>
            </xs:enumeration>

            <xs:enumeration value="Close">
                <xs:annotation>
                    <xs:documentation xml:lang="cs-cz">Zavře okno</xs:documentation>
                </xs:annotation>
            </xs:enumeration>

        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="type_control_state">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Default" />
            <xs:enumeration value="Enabled" />
            <xs:enumeration value="ReadOnly" />
            <xs:enumeration value="Disabled" />
            <xs:enumeration value="Invisible" />
            <xs:enumeration value="SkipTab" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="enum_bool">
        <xs:restriction base="xs:string">
            <xs:enumeration value="True" />
            <xs:enumeration value="False" />
        </xs:restriction>
    </xs:simpleType>














    <!--    OBSOLETE   -->
    
    
    <xs:complexType name="type_column">
        <xs:sequence>
            <xs:element name="groupcolumn" type="column_e1" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attributeGroup ref="column_attr" />
    </xs:complexType>
    
    
    <xs:complexType name="column_e1">
        <xs:attributeGroup ref="column_attr" />
    </xs:complexType>
    
    
    <xs:attributeGroup name="column_attr">
        <xs:attribute name="TabIndex" type="xs:int" />
        <!-- <0, =0, >0 -->
        <xs:attribute name="EditMask">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="L10;D2;Z1;T1">
                        <!-- "L10;D2;Z1;T1" -->
                        <xs:annotation>
                            <xs:documentation>"NN NNN NNN.NN"</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="L10;D2;Z1;T0">
                        <!-- "L10;D2;Z1;T0" -->
                        <xs:annotation>
                            <xs:documentation>"NNNNNNNN.NN"</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="t">
                        <!-- "12:10" -->
                        <xs:annotation>
                            <xs:documentation>"12:10"</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="d">
                        <!-- "15.3.2003" -->
                        <xs:annotation>
                            <xs:documentation>"15.3.2003"</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="g">
                        <!-- "15.3.2003 12:10" -->
                        <xs:annotation>
                            <xs:documentation>"15.3.2003 12:10"</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="T">
                        <!-- "12:10:45" -->
                        <xs:annotation>
                            <xs:documentation>"12:10:45"</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="n">
                        <!-- "2003"-->
                        <xs:annotation>
                            <xs:documentation>"2003"</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="N">
                        <!-- "3.2003" -->
                        <xs:annotation>
                            <xs:documentation>"3.2003"</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="G">
                        <!-- "15.3.2003 12:10:45" -->
                        <xs:annotation>
                            <xs:documentation>"15.3.2003 12:10:45"</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="InputWindow" type="xs:string">
            <xs:annotation>
                <xs:documentation>"Dynamicka stranka (struktura: "AssemblyName;FullObjectName") vydedena z NrsInputWindow, ktera slouzi pro vyplneni pole (napr. strukturovana tlf. cisla)"</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CurrencyDisplay" type="enum_bool" />
        <xs:attribute name="MaxLength" type="xs:int" />
        <xs:attribute name="Name" type="xs:string" />
        <xs:attribute name="Label" type="xs:string" />
        <!-- STR0028914 - 2008.07.08 - doplněn LabelToolTip-->
        <xs:attribute name="LabelToolTip" type="xs:string" />
        <!-- STR0062778 - 2019.07.30 - doplněn LabelToolTipHide-->
        <xs:attribute name="LabelToolTipHide" type="xs:string" />
        <xs:attribute name="Width" type="xs:string" />
        <xs:attribute name="Height" type="xs:int" />
        <xs:attribute name="Required" type="enum_bool" />
        <xs:attribute name="Invisible" type="xs:string" />
        <xs:attribute name="ReadOnly" type="enum_bool" />
        <xs:attribute name="InputType">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="text" />
                    <xs:enumeration value="checkbox" />
                    <xs:enumeration value="radiobutton" />
                    <xs:enumeration value="string" />
                    <xs:enumeration value="dynamic" />
                    <xs:enumeration value="date" />
                    <xs:enumeration value="time" />
                    <xs:enumeration value="datetime" />
                    <xs:enumeration value="textarea" />
                    <xs:enumeration value="select" />
                    <xs:enumeration value="password" />
                    <xs:enumeration value="number" />
                    <xs:enumeration value="label" />
                    <xs:enumeration value="group" />
                    <xs:enumeration value="button" />
                    <xs:enumeration value="picturelistbox" />
                    <xs:enumeration value="file" />
                    <xs:enumeration value="calendar" />
                    <xs:enumeration value="picture" />
                    <xs:enumeration value="htmltext" />
                    <xs:enumeration value="AidcCode" />
                    <!-- //DCH 0053400 12.08.2016 -->
                    <xs:enumeration value="color" />
                    <!--DCH za MEJ 14.4.2015 Podpora pro mapy, typ zobrazeni Geography -->
                    <xs:enumeration value="Geography" />
                    <!-- //DCH 0054852 06.03.2017 PercentageBar na formulářích -->
                    <xs:enumeration value="PercentageBar"/>
                    <!-- // ALE0056547 15.9.2017 - podpora pro zobrazení kalkulačky -->
                    <xs:enumeration value="calculator" />
                    <!-- //STR0061496 - 2019.03.06 - InputType="Placeholder" -->
                    <xs:enumeration value="Placeholder"  />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>

        <!-- STR0049948 - 2015.04.16 - rozšíření input typu "text" o možnost kolorovat text -->
        <xs:attribute name="SyntaxHighlightingType">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Sql" />
                    <xs:enumeration value="Xml" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>

        <xs:attribute name="AidcCodeType">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Codabar" />
                    <xs:enumeration value="Code11" />
                    <xs:enumeration value="DataMatrix" />
                    <xs:enumeration value="EAN13" />
                    <xs:enumeration value="EAN8" />
                    <xs:enumeration value="UPC_A" />
                    <xs:enumeration value="UPC_E" />
                    <xs:enumeration value="Standard2of5" />
                    <xs:enumeration value="Industrial2of5" />
                    <xs:enumeration value="Interleaved2of5" />
                    <xs:enumeration value="ITF14" />
                    <xs:enumeration value="Code39" />
                    <xs:enumeration value="Code39Ext" />
                    <xs:enumeration value="Code128" />
                    <xs:enumeration value="Code128A" />
                    <xs:enumeration value="Code128B" />
                    <xs:enumeration value="Code128C" />
                    <xs:enumeration value="Pharmacode" />
                    <xs:enumeration value="Pdf417" />
                    <xs:enumeration value="QrCode" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="AidcCodeSettings" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">
                    Další nastavení AIDC kódu. Toto nastavení je vždy závislé na typu kódu v atributu AidcCodeType. Možnosti nastavení odpovídají možnostem dle https://forum.helios.eu/green/doc/cs/index.php?title=QR_k%C3%B3dy,_%C4%8D%C3%A1rov%C3%A9_k%C3%B3dy
                    Zadává se ve formě: klíč1=hodnota1; klíč2=hodnota2; atd. Například pro kód PDF417 lze zadat pevnou šířku kódu 7 slov a úroveň korekce chyb = 3 následujícím způsobem: "FixedWidth=7; ErrorLevel=3".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PercentageBarSettings" type="xs:string">
            <!-- //DCH 0054852 06.03.2017 ProgressBary na formulářích -->
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">
                    Další nastavení pro input type PercentageBar. Může být nastaveno chování procentuálního teploměru. Hodnoty jsou zapsány jako "klíč:hodnota|klíč2:hodnota"
                    Možné klíče a jejich hodnoty jsou k dispozici v dokumentaci: https://public.helios.eu/green/doc/cs/index.php?title=%C5%A0ablony_pro_formul%C3%A1%C5%99e_-_popis#InputType_PercentageBar
                    Mezi nejpoužívánější klíče jsou:
                    * WithLabel:true/false který říká zda bude hodnota procenta zobrazena v teploměru.
                    * RawValueAsPercentage:true/false Pokud je true pak je hodnota již přepočítaná na hodnotu 0-100%, pokud je false pak se očekává, že hodnota je 0.00-1.00 a control si dělá přepočet na procenta.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ButtonAction">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Click" />
                    <!-- default -->
                    <!--<xs:enumeration value="OpenFile" />-->
                    <xs:enumeration value="Update" />
                    <xs:enumeration value="Close" />
                    <!-- //DCH 0059598 31.07.2018 Spouštění funkcí tlačítky na formuláři  -->
                    <xs:enumeration value="RunFunction" />
                    <!-- //STR0060162 - 2018.10.12 - doplnění akce ClickCheckRequired: při stisku tlačítka zkontroluje required sloupce obdobně jako akce 'Update'  -->
                    <xs:enumeration value="ClickCheckRequired" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>

        <!-- //DCH 0059598 31.07.2018 Spouštění funkcí tlačítky na formuláři -->
        <xs:attribute name="ButtonFunction" type="xs:string" use="optional"/>

        <!-- //STR0064265 - 2020.01.20 Tlačítko ve formuláři -ikona místo textu -->
        <xs:attribute name="ButtonFunctionLabelType" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Text" />
                    <xs:enumeration value="Icon" />
                    <xs:enumeration value="IconText" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Values" type="xs:string" />
        <xs:attribute name="Expr" type="xs:string" />
        <xs:attribute name="ExprType">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="String" />
                    <xs:enumeration value="Int32" />
                    <xs:enumeration value="DateTime" />
                    <xs:enumeration value="Decimal" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="EditStyle" type="xs:string" />
        <xs:attribute name="EditStyleViewMode">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Text" />
                    <xs:enumeration value="Icon" />
                    <xs:enumeration value="IconText" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Protect" type="xs:string" />
        <xs:attribute name="HtmlEdit" type="enum_bool">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">
                    OBSOLETE - use InputType=htmltext
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Relation">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="HtmlStyle" type="xs:string" />
        <xs:attribute name="ColSpan" type="xs:int" default="1" />
        <!--//DAVID.CHARVAT 0038832 22.06.2011 Podpora RowSpan ve form.šabloně-->
        <xs:attribute name="RowSpan" type="xs:int" default="1" />
        <xs:attribute name="LabelPos" type="enum_label_pos" />
        <xs:attribute name="Align" type="leftright" />
        <xs:attribute name="AlignValue" type="leftright" />
        <xs:attribute name="RegisterItemChange" type="enum_bool" />
        <xs:attribute name="RegisterDblClick" type="enum_bool" />
        <xs:attribute name="BoxCols" type="xs:string" />
        <xs:attribute name="BoxRows" type="xs:string" />
        <xs:attribute name="BoxStyle" type="xs:string" />
        <xs:attribute name="AttrShortName" type="enum_bool" />
        <xs:attribute name="RelationParams" type="xs:string" />
        <xs:attribute name="RelationAddName" type="enum_bool" />
        <xs:attribute name="RenderAs" type="RenderAs1" />
        <xs:attribute name="SetEmptyStringIsNull" type="enum_bool" />
        <!--DCH 0052507 19.04.2016-->
        <xs:attribute name="MaxDropDownItems" type="xs:int" default="12" use="optional"></xs:attribute>
        <!-- add break line after this item -->
        <xs:attribute name="Break" type="enum_bool" />
        <!-- only for InputType=button -->
        <xs:attribute name="Default" type="enum_bool">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">
                    OBSOLETE - use dynamicPage template.DefaultControl
                    Pouze pokud je InputType=Button. Tento atribut určuje výchozí tlačítko (fokusované po startu).
                    Jeho úlohu přebral atribut na dynamické stránce se jménem DefaultControl.
                    Tento atribut bude pravděpodobně odstraněn do verze BETA43
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="AllowUserChangeInvisibility" default="Auto">
            <!--DCH 0036675-->
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">
                    Příznak, zda je viditelnost řiditelná uživatelem. Výchozí hodnota je "Auto"
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Auto">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs-cz">
                                Hodnotu Auto (je výchozí) interpretuje klient a musí reagovat na dynamickou změnu viditelnosti sloupce/buněk vyvolanou aplikačním kódem.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="True">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs-cz">
                                Hodnotu True uživatel bude moci v klientské aplikaci měnit neviditelnost sloupce.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="False">
                        <xs:annotation>
                            <xs:documentation xml:lang="cs-cz">
                                Hodnotu False uživatel nemůže měnit v klientské aplikaci neviditelnost sloupce.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <!-- only for InputType=calendar -->
        <xs:attribute name="OneMonthOnly" type="enum_bool" />
        <xs:attribute name="NoBorder" type="enum_bool" />
        <!-- so far only for DDLB!!! -->
        <xs:attribute name="RadioTextAlign">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="right" />
                    <xs:enumeration value="rightDown" />
                    <xs:enumeration value="left" />
                    <xs:enumeration value="leftDown" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="TextAreaOverflow">
            <!-- Sets or retrieves a value indicating how to manage the content of the object when the content exceeds the height or width of the object. -->
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="auto" />
                    <!-- default: Content is clipped and scrolling is added only when necessary -->
                    <xs:enumeration value="hidden" />
                    <!-- Content that exceeds the dimensions of the object is not shown. -->
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="FontAndColor">
            <!-- Sets Font and colors - cups (kalíšky barev pro attributy). Může obsahovat výraz, jehož výsledkem musí být jedna z uvedených hodnot -->
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="'User_1'" />
                    <xs:enumeration value="'User_2'" />
                    <xs:enumeration value="'User_3'" />
                    <xs:enumeration value="'User_4'" />
                    <xs:enumeration value="'User_5'" />
                    <xs:enumeration value="'User_6'" />
                    <xs:enumeration value="'User_7'" />
                    <xs:enumeration value="'User_8'" />
                    <xs:enumeration value="'User_9'" />
                    <xs:enumeration value="'GoodValue'" />
                    <xs:enumeration value="'BetterValue'" />
                    <xs:enumeration value="'ExcellentValue'" />
                    <xs:enumeration value="'BadValue'" />
                    <xs:enumeration value="'WorseValue'" />
                    <xs:enumeration value="'AwfulValue'" />
                    <xs:enumeration value="'ToProcess'" />
                    <xs:enumeration value="'InProcess'" />
                    <xs:enumeration value="'Success'" />
                    <xs:enumeration value="'Warning'" />
                    <xs:enumeration value="'Error'" />
                    <xs:enumeration value="'Warning'" />
                    <xs:enumeration value="'Red_front_normal'" />
                    <xs:enumeration value="'Red_front_protect'" />
                    <xs:enumeration value="'Green_front_normal'" />
                    <xs:enumeration value="'Green_front_protect'" />
                    <xs:enumeration value="'Orange_front_normal'" />
                    <xs:enumeration value="'Orange_front_protect'" />
                    <xs:enumeration value="'Blue_front_normal'" />
                    <xs:enumeration value="'Blue_front_protect'" />
                    <xs:enumeration value="'Black_label_front_bold'" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <!--STR0023248 2006.12.06 - Doplňková maska pro vstup dat do polí typu DDLB, Date, DateTime, Time, Number. (např = "[:*:]") -->
        <xs:attribute name="AcceptPromptFormatMask" type="xs:string" />

        <!--//STR0044621 - 2013.05.21 - doplnění vlastností - Image: obrázek na tlačítku-->
        <xs:attribute name="Image" type="xs:string" />
        <!--//STR0044621 - 2013.05.21 - doplnění vlastností - ToolTip: tooltip nad buňkou/hodnotou/tlačítkem -->
        <xs:attribute name="ToolTip" type="xs:string" />

        <!--//STR0050594 - 2015.07.16 - doplnění vlastností - LinkType: Přímo na formuláři lze definovat typ odkazu -> pro rozkliknutí uvedeného typu odkazu (email, url). Rozšiřuje InputType="text" a InputType="textarea" -->
        <xs:attribute name="LinkType" >
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="email" />
                    <xs:enumeration value="phone" />
                    <xs:enumeration value="url" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>


        <!-- //DCH 0054246 02.12.2016 -->
        <xs:attribute name="AllowExtendedEditor" type="enum_bool" default="True">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">
                    Nastavení se aplikuje na políčko typu TextArea. Hodnota určuje zda je dovoleno otevřít rozšířující editor při dvojkliku na políčko typu TextArea. Hodnota False znamená, že na políčku není automatický rozšuřující editor.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <!-- //STR0058109 - 2018.02.20 -->
        <xs:attribute name="SuppressReadOnlyFromDataForm" type="enum_bool" use="optional" />

        <!-- //DCH 0059196 19.06.2018 Grafické zobrazení stavu/procesu - jádro -->
        <xs:attribute name="DDLBEditor" >
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Combobox" />
                    <xs:enumeration value="Breadcrumb" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>


        <!--//STR0066820 - 2020.11.09 - Zrušeno, partner nepoužíval -->
        <!--//STR0050594 - 2015.07.16 - doplnění vlastnosti - MobileDefaultValue : implicitní hodnota pro daný sloupec. Používá se v mobilním klientovi v případě off-line režimu. 
    <xs:attribute name="MobileDefaultValue" type="xs:string" >
      <xs:annotation>
        <xs:documentation xml:lang="cs-cz">
          Používá se pouze v mobilním klientovi
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>-->


        <!--//STR0066820 - 2020.11.09 - FormBuilder a Mobile atributy pro Aldor-->
        <xs:attribute name="MobileDefault" type="xs:string" >
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">
                    Používá se pouze v mobilním klientovi
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MobileLocation" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">
                    Používá se pouze v mobilním klientovi
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MobileBarcode" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">
                    Používá se pouze v mobilním klientovi
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MobileBarcodeSearch" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">
                    Používá se pouze v mobilním klientovi
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MobileValidation" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">
                    Používá se pouze v mobilním klientovi
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MobileDefaultSort" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">
                    Používá se pouze v mobilním klientovi
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ExtendedAttributes" type="xs:string">
            <xs:annotation>
                <xs:documentation xml:lang="cs-cz">
                    Atribut slouží pro vývojáře třetích stran. Do tohoto atributu lze zadat libovolný obsah. Jádro aplikace ani FormBuilder s ním nepracuje a slouží jen pro vývojáře třetích stran v případě, kdy potřebují rozšířit vlastnosti konkrétního sloupce formuláře o vlastní nastavení.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <!-- //STR0069975 - 2021.011.25 - doplnění možnosti zadat filter pro InputType="file" -->
        <xs:attribute name="FileFilter" type="xs:string" />



    </xs:attributeGroup>


    <xs:simpleType name="leftright">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Left" />
            <xs:enumeration value="Right" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="leftrightcenter">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Left" />
            <xs:enumeration value="Right" />
            <xs:enumeration value="Center" />
        </xs:restriction>
    </xs:simpleType>
    

    
    <xs:simpleType name="RenderAs1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="string" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TFirstLeftColumnAlignMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Tab"></xs:enumeration>
            <xs:enumeration value="Template"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>